LOG_LEVEL=debug

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=pay.system.bank@gmail.com
MAIL_APP_PASSWORD=wzrwvqhhrralkyyz

MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=localhost
MYSQL_DATABASE=pay_system

HTTP_PORT=8080
HMAC_SECRET=pays

ADMIN_USER_FULLNAME=Serhi Shevchenko
ADMIN_USER_EMAIL=serhi.shevchenko@gmail.com